<mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select (selectionChange)="newGraph($event.value)">
        <mat-option value="bar">Bar chart</mat-option>
        <mat-option value="line">Line chart</mat-option>
        <mat-option value="doughnut">Doughnut chart</mat-option>
    </mat-select>
</mat-form-field>

<canvas id="myChart" width="100" height="100"></canvas>


<h1>------------------------------------------------------------------</h1>


<mat-form-field appearance="fill">
    <mat-label>Choose an option</mat-label>
    <mat-select (selectionChange)="newData($event.value)">
        <mat-option value="bar">Business data</mat-option>
        <mat-option value="line">Namespaces data</mat-option>
        <mat-option value="doughnut">Organization data</mat-option>
    </mat-select>
</mat-form-field>

<canvas id="dataChart" width="100" height="100"></canvas>